{% set virtualbox = {
  'version': '4.3',
  'webservice_user' : 'vboxwebsrv',
  'webservice_password' : 'a@#R0ojd',
  'webservice_machine_directory' : False,
  'phpvirtualbox_directory' : '/srv/phpvirtualbox'
} %}
