{% set virtualbox = {
  'version': '4.3',
  'webservice': {
    'user' : 'vboxwebsrv',
    'password' : 'a@#R0ojd',
    'uid': 945,
    'home' : '/var/lib/vboxwebsrv',
  },
  'phpvirtualbox': {
    'directory' : '/srv/phpvirtualbox',
  },
} %}
